<div style="position: fixed; z-index: 1000; right: 0px; bottom: 25px;">
    <img src="ardanlabs-logo.png" height="100px" />
</div>

<div style="position: fixed; z-index: 1000; left: 10px; bottom: 25px;">
    <img src="rust-crab-transparent-no-shadow.png" height="100px" />
</div>
